# **Importar as bibliotecas do python üêç**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# ***Ler o arquivo .csv***
### para o DataFrame df_original

In [3]:
df_original = pd.read_csv('/content/df_limpo.csv')

# **I - An√°lise Explorat√≥ria dos dados**

# ***7 Primeiras linhas do DataFrame***

In [6]:
df_original.head(7)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,Total.Day,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,2.20,65.6,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,2.01,59.9,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,2.34,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,3.17,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,2.97,83.9,267.40
5,0013-MHZWF,No,Female,0,No,Yes,9,Yes,No,DSL,...,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),2.12,69.4,571.45
6,0013-SMEOE,No,Female,1,Yes,No,71,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),3.71,109.7,7904.25

# ***7 √öltimas linhas do DataFrame***

In [7]:
df_original.tail(7)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,Total.Day,account.Charges.Monthly,account.Charges.Total
7036,9985-MWVIX,Yes,Female,0,No,No,1,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Mailed check,2.34,70.15,70.15
7037,9986-BONCE,Yes,Female,0,No,No,4,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),0.71,20.95,85.50
7038,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,Yes,No,No,One year,No,Mailed check,1.90,55.15,742.90
7039,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,2.84,85.10,1873.70
7040,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,1.55,50.30,92.75
7041,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,Yes,Yes,No,Yes,Two year,No,Mailed check,2.30,67.85,4627.65
7042,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,No,Electronic check,1.96,59.00,3707.60

# **Tamanho do DataFrame**
linhas x colunas

In [8]:
print(df_original.shape)

(7043, 22)

# **Resumo do DataFrame**

In [9]:
print(df_original.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer.gender            7043 non-null   object
 3   customer.SeniorCitizen     7043 non-null   int64
 4   customer.Partner           7043 non-null   object
 5   customer.Dependents        7043 non-null   object
 6   customer.tenure            7043 non-null   int64
 7   phone.PhoneService         7043 non-null   object
 8   phone.MultipleLines        7043 non-null   object
 9   internet.InternetService   7043 non-null   object
 10  internet.OnlineSecurity    7043 non-null   object
 11  internet.OnlineBackup      7043 non-null   object
 12  internet.DeviceProtection  7043 non-null   object
 13  internet.TechSupport       7043 non-null   object
 14  internet.StreamingTV       7043 non-null   object
 15  internet.StreamingMovies   7043 non-null   object
 16  account.Contract           7043 non-null   object
 17  account.PaperlessBilling   7043 non-null   object
 18  account.PaymentMethod      7043 non-null   object
 19  Total.Day                  7032 non-null   float64
 20  account.Charges.Monthly    7043 non-null   float64
 21  account.Charges.Total      7032 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB
None

# **Mostrar as estat√≠sticas descritivas das colunas num√©ricas**

In [11]:
print(df_original.describe())

       customer.SeniorCitizen  customer.tenure    Total.Day  \
count             7043.000000      7043.000000  7032.000000
mean                 0.162147        32.371149     2.159879
std                  0.368612        24.559481     1.006217
min                  0.000000         0.000000     0.460000
25%                  0.000000         9.000000     1.207500
50%                  0.000000        29.000000     2.350000
75%                  0.000000        55.000000     3.010000
max                  1.000000        72.000000     4.050000

       account.Charges.Monthly  account.Charges.Total
count              7043.000000            7032.000000
mean                 64.761692            2283.300441
std                  30.090047            2266.771362
min                  18.250000              18.800000
25%                  35.500000             401.450000
50%                  70.350000            1397.475000
75%                  89.850000            3794.737500
max                 118.750000            8684.800000

# **Listar as colunas/vari√°veis presentes no DataFrame**

In [12]:
print(df_original.columns)

Index(['customerID', 'Churn', 'customer.gender', 'customer.SeniorCitizen',
       'customer.Partner', 'customer.Dependents', 'customer.tenure',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod', 'Total.Day',
       'account.Charges.Monthly', 'account.Charges.Total'],
      dtype='object')

# **Mostrar 10 linhas aleat√≥rias do DataFrame:**
*Uma demostra√ß√£o da variabilidade dos dados.*

In [15]:
print(df_original.sample(10))

      customerID Churn customer.gender  customer.SeniorCitizen  \
1901  2761-XECQW    No            Male                       1
2912  4143-HHPMK   Yes            Male                       0
6976  9898-KZQDZ   Yes          Female                       1
2549  3645-DEYGF    No            Male                       0
866   1260-TTRXI   Yes            Male                       0
5094  7157-SMCFK    No            Male                       0
3204  4589-IUAJB    No            Male                       0
2804  3988-RQIXO   Yes          Female                       1
4149  5868-CZJDR   Yes            Male                       0
1697  2474-LCNUE    No          Female                       0

     customer.Partner customer.Dependents  customer.tenure phone.PhoneService  \
1901              Yes                  No                8                 No
2912               No                  No               52                Yes
6976              Yes                 Yes               40                Yes
2549               No                 Yes                1                Yes
866                No                  No                4                Yes
5094               No                 Yes               61                Yes
3204              Yes                  No               70                Yes
2804               No                  No                1                Yes
4149               No                 Yes                1                 No
1697              Yes                  No               23                Yes

     phone.MultipleLines internet.InternetService  ...  \
1901    No phone service                      DSL  ...
2912                  No              Fiber optic  ...
6976                 Yes              Fiber optic  ...
2549                  No                       No  ...
866                   No                      DSL  ...
5094                  No                       No  ...
3204                 Yes                       No  ...
2804                  No              Fiber optic  ...
4149    No phone service                      DSL  ...
1697                 Yes                      DSL  ...

     internet.DeviceProtection internet.TechSupport internet.StreamingTV  \
1901                       Yes                   No                   No
2912                        No                   No                   No
6976                        No                   No                  Yes
2549       No internet service  No internet service  No internet service
866                         No                   No                   No
5094       No internet service  No internet service  No internet service
3204       No internet service  No internet service  No internet service
2804                        No                   No                  Yes
4149                        No                   No                   No
1697                        No                  Yes                  Yes

     internet.StreamingMovies account.Contract account.PaperlessBilling  \
1901                      Yes   Month-to-month                      Yes
2912                      Yes   Month-to-month                      Yes
6976                      Yes   Month-to-month                      Yes
2549      No internet service   Month-to-month                       No
866                       Yes   Month-to-month                       No
5094      No internet service         Two year                       No
3204      No internet service         Two year                       No
2804                      Yes   Month-to-month                      Yes
4149                       No   Month-to-month                      Yes
1697                      Yes   Month-to-month                      Yes

          account.PaymentMethod Total.Day account.Charges.Monthly  \
1901               Mailed check      1.55                   43.35
2912           Electronic check      2.78                   85.35
6976    Credit card (automatic)      3.03                   94.55
2549               Mailed check      0.69                   20.75
866            Electronic check      1.63                   54.30
5094               Mailed check      0.61                   19.75
3204  Bank transfer (automatic)      0.82                   24.25
2804           Electronic check      3.04                   91.30
4149               Mailed check      1.05                   31.35
1697    Credit card (automatic)      2.38                   73.65

      account.Charges.Total
1901                 371.40
2912                4338.60
6976                3640.45
2549                  20.75
866                  195.30
5094                1124.20
3204                1724.15
2804                  91.30
4149                  31.35
1697                1642.75

[10 rows x 22 columns]

# **II - Limpeza e Tratamento dos Dados no DataFrame**

# **Identificar se tem linhas duplicadas no DataFrame**

In [17]:
Linhas_Duplicadas = df_original.duplicated().sum()
print('Linhas Duplicadas no DataFrame:', Linhas_Duplicadas)

Linhas Duplicadas no DataFrame: 0

# **Identificar se tem valores nulos nas colunas**

In [23]:
print("Contagem de valores nulos por coluna do DataFrame:\n\n")
print(df_original.isnull().sum())

Contagem de valores nulos por coluna do DataFrame:


customerID                    0
Churn                         0
customer.gender               0
customer.SeniorCitizen        0
customer.Partner              0
customer.Dependents           0
customer.tenure               0
phone.PhoneService            0
phone.MultipleLines           0
internet.InternetService      0
internet.OnlineSecurity       0
internet.OnlineBackup         0
internet.DeviceProtection     0
internet.TechSupport          0
internet.StreamingTV          0
internet.StreamingMovies      0
account.Contract              0
account.PaperlessBilling      0
account.PaymentMethod         0
Total.Day                    11
account.Charges.Monthly       0
account.Charges.Total        11
dtype: int64

# **Dropar os valores nulos das colunas Total.Day e account.Charges.Total**

In [25]:
df_original = df_original.dropna(subset=['Total.Day', 'account.Charges.Total'])

In [27]:
print("Contagem de valores nulos por coluna do DataFrame:\nSegunda verifica√ß√£o\n")
print(df_original.isnull().sum())

Contagem de valores nulos por coluna do DataFrame:
Segunda verifica√ß√£o

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
Total.Day                    0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

# **Verificar o tipo das colunas no DataFrame**

In [24]:
print(df_original.dtypes)

customerID                    object
Churn                         object
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner              object
customer.Dependents           object
customer.tenure                int64
phone.PhoneService            object
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling      object
account.PaymentMethod         object
Total.Day                    float64
account.Charges.Monthly      float64
account.Charges.Total        float64
dtype: object

# **Dropar coluna irrelevante para a an√°lise**

In [29]:
df_original = df_original.drop(columns=['customerID'])
print(df_original.dtypes)

Churn                         object
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner              object
customer.Dependents           object
customer.tenure                int64
phone.PhoneService            object
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling      object
account.PaymentMethod         object
Total.Day                    float64
account.Charges.Monthly      float64
account.Charges.Total        float64
dtype: object

# **Mostra as colunas do DataFrame com at√© 3 valores √∫nicos**

In [41]:
tamanho_colunas = max(len(coluna) for coluna in df_original.columns)
for coluna in df_original.columns:
    valores_unicos = df_original[coluna].unique()
    if len(valores_unicos) < 4:
         print(f"Coluna '{coluna}'".ljust(tamanho_colunas + 10), f": {valores_unicos}")

Coluna 'Churn'                      : ['No' 'Yes']
Coluna 'customer.gender'            : ['Female' 'Male']
Coluna 'customer.SeniorCitizen'     : [0 1]
Coluna 'customer.Partner'           : ['Yes' 'No']
Coluna 'customer.Dependents'        : ['Yes' 'No']
Coluna 'phone.PhoneService'         : ['Yes' 'No']
Coluna 'phone.MultipleLines'        : ['No' 'Yes' 'No phone service']
Coluna 'internet.InternetService'   : ['DSL' 'Fiber optic' 'No']
Coluna 'internet.OnlineSecurity'    : ['No' 'Yes' 'No internet service']
Coluna 'internet.OnlineBackup'      : ['Yes' 'No' 'No internet service']
Coluna 'internet.DeviceProtection'  : ['No' 'Yes' 'No internet service']
Coluna 'internet.TechSupport'       : ['Yes' 'No' 'No internet service']
Coluna 'internet.StreamingTV'       : ['Yes' 'No' 'No internet service']
Coluna 'internet.StreamingMovies'   : ['No' 'Yes' 'No internet service']
Coluna 'account.Contract'           : ['One year' 'Month-to-month' 'Two year']
Coluna 'account.PaperlessBilling'   : ['Yes' 'No']

# **Fazer uma c√≥pia do DataFrame**
comparar os tamanhos do copiado e do *original*

In [42]:
dataframe_copiado = df_original.copy()

In [50]:
print("Tamanho do DataFrame Original: (linhas/colunas)")
print(df_original.shape)
print("Tamanho do DataFrame Copiado: (linhas/colunas)")
print(dataframe_copiado.shape)

Tamanho do DataFrame Original: (linhas/colunas)
(7032, 21)
Tamanho do DataFrame Copiado: (linhas/colunas)
(7032, 21)

# **Fazer a substitui√ß√£o dos dados de** "No internet service" **para** "No" **nas colunas do DataFrame**

In [51]:
colunas_para_ajustar = [
    'internet.OnlineSecurity','internet.OnlineBackup','internet.DeviceProtection',
    'internet.TechSupport','internet.StreamingTV','internet.StreamingMovies'
]
for colunas in colunas_para_ajustar:
    dataframe_copiado[colunas] = dataframe_copiado[colunas].replace('No internet service', 'No')

# **Mostra as colunas do DataFrame com at√© 3 valores √∫nicos**

In [53]:
tamanho_colunas = max(len(coluna) for coluna in dataframe_copiado.columns)
for coluna in dataframe_copiado.columns:
    valores_unicos = dataframe_copiado[coluna].unique()
    if len(valores_unicos) < 4:
         print(f"Coluna '{coluna}'".ljust(tamanho_colunas + 10), f": {valores_unicos}")

Coluna 'Churn'                      : ['No' 'Yes']
Coluna 'customer.gender'            : ['Female' 'Male']
Coluna 'customer.SeniorCitizen'     : [0 1]
Coluna 'customer.Partner'           : ['Yes' 'No']
Coluna 'customer.Dependents'        : ['Yes' 'No']
Coluna 'phone.PhoneService'         : ['Yes' 'No']
Coluna 'phone.MultipleLines'        : ['No' 'Yes' 'No phone service']
Coluna 'internet.InternetService'   : ['DSL' 'Fiber optic' 'No']
Coluna 'internet.OnlineSecurity'    : ['No' 'Yes']
Coluna 'internet.OnlineBackup'      : ['Yes' 'No']
Coluna 'internet.DeviceProtection'  : ['No' 'Yes']
Coluna 'internet.TechSupport'       : ['Yes' 'No']
Coluna 'internet.StreamingTV'       : ['Yes' 'No']
Coluna 'internet.StreamingMovies'   : ['No' 'Yes']
Coluna 'account.Contract'           : ['One year' 'Month-to-month' 'Two year']
Coluna 'account.PaperlessBilling'   : ['Yes' 'No']

# **Fazer o one-hot encoding**

In [56]:

colunas_categoricas = [
       'Churn', 'customer.gender', 'customer.Partner', 'customer.Dependents',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod'
]

dataframe_codificado = pd.get_dummies(dataframe_copiado, columns=colunas_categoricas, drop_first=True)

# dataframe_pronto_para_usar
dataframe_codificado

,customer.SeniorCitizen,customer.tenure,Total.Day,account.Charges.Monthly,account.Charges.Total,Churn_Yes,customer.gender_Male,customer.Partner_Yes,customer.Dependents_Yes,phone.PhoneService_Yes,...,internet.DeviceProtection_Yes,internet.TechSupport_Yes,internet.StreamingTV_Yes,internet.StreamingMovies_Yes,account.Contract_One year,account.Contract_Two year,account.PaperlessBilling_Yes,account.PaymentMethod_Credit card (automatic),account.PaymentMethod_Electronic check,account.PaymentMethod_Mailed check
0,0,9,2.20,65.60,593.30,False,False,True,True,True,...,False,True,True,False,True,False,True,False,False,True
1,0,9,2.01,59.90,542.40,False,True,False,False,True,...,False,False,False,True,False,False,False,False,False,True
2,0,4,2.34,73.90,280.85,True,True,False,False,True,...,True,False,False,False,False,False,True,False,True,False
3,1,13,3.17,98.00,1237.85,True,True,True,False,True,...,True,False,True,True,False,False,True,False,True,False
4,1,3,2.97,83.90,267.40,True,False,True,False,True,...,False,True,True,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,13,1.90,55.15,742.90,False,False,False,False,True,...,False,True,False,False,True,False,False,False,False,True
7039,0,22,2.84,85.10,1873.70,True,True,True,False,True,...,False,False,False,True,False,False,True,False,True,False
7040,0,2,1.55,50.30,92.75,False,True,False,False,True,...,False,False,False,False,False,False,True,False,False,True
7041,0,67,2.30,67.85,4627.65,False,True,True,True,True,...,True,True,False,True,False,True,False,False,False,True
7042,0,63,1.96,59.00,3707.60,False,True,True,True,False,...,True,False,True,True,False,True,False,False,True,False